body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.hike{
  background-color:#1fa67a;
  -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);


}

.hike-pic{
  max-height: 350px;
}

.bk-img{
 background: url('/img/landscape.jpg') no-repeat fixed center;
  width:100%;
  height: 80vh;
}

.hiking-bk{

 /*background: url('/img/hiking.jpg') no-repeat fixed center;
  width:100%;
  height: 80vh;*/

}

.hiker-parent{
  display:flex;
   flex-direction:column;
  justify-content: center;

  align-items: center;

}


.hiker-child{
  width: 100%;
padding-top: 20px;
padding-bottom: 30px;

  background-color: rgba(86.3%, 86.3%, 86.3%, 0.5);



}

.h1-hike-header{
  font-family:'Lato', 'sans-serif';
  font-weight: 700;
  color:white;
  font-size: 6em;
  text-transform: uppercase;


}

.add-header{

    font-family:'Lato', 'sans-serif';
  font-weight: 700;

  font-size: 3em;
  text-transform: uppercase;

}

.hike-header{
      font-family:'Lato', 'sans-serif';
  font-weight: 700;

  font-size: 3em;
  text-transform: uppercase;
  color:white;
}

.sub-hike-header{
    font-family:'Lato', 'sans-serif';
  font-weight: 700;
  color:white;
  font-size: 1em;
  text-transform: uppercase;
  display: inline-block;

}

.space{
  padding-top:10vh;
  padding-bottom: 10vh;

}

.mini-wrapper{
  width:100%;
  display:flex;
     flex-direction:column;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  /*margin-top: 10em;*/
}

.bar{
  background-color:#ff5252;
  height: 10px;
  text-align: center;
  width: 60em;
  margin-bottom: 5em;
  margin-top: 5em;
}

.btn-custom{
   width: 50em;
   margin-top: 5em;
    background-color:#ff5252;
    border: none;
    color:white;
    font-family:'Lato', 'sans-serif';
}

input{
  width: 100%;
  }

  select{
    width: 100%;
  }

  .hike-name{
        color:white;
    font-family:'Lato', 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
  }

  .result-title{
    color:white;
       font-family:'Lato', 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
  }

  .result-p{
        color:white;
       font-family:'Lato', 'sans-serif';
       text-align: center;


  }

  .results{
    display: inline !important;
    color:white;
    padding: 10px;

  }

  .vote{
    width:100%;
    text-align: center;
  }

h3{
  text-transform: uppercase;
}

